*{
 margin: 0;
 padding: 0
}

@font-face {
	font-family: 'fontawesome_webfont';
	src: url('../font/fontawesome-webfont.eot') format('eot')
		 url('../font/fontawesome-webfont.ttf') format('ttf')
		 url('../font/fontawesome-webfont.svg') format('svg')
		 url('../font/fontawesome-webfont.woff') format('woff')
}

body
{
	font-family: fontawesome_webfont, Arial, sans-serif;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
    margin: auto;
    height: 100px;
}

ul
{
    list-style-type: none;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

li
{
    margin-right: 15px;
    border-top: 2px white solid;
	height: 80px;
}

a
{
	color: black;
	text-decoration: none;
}

li:hover
{
	border-top: 2px blue solid;
}

/*div
{
	border: 3px black solid;
}*/
