*{
 margin: 0;
 padding: 0;
}


.img-container
{
	width: 23%;
}

.img-container img
{
	width: 100%;
}

.image_portfolio--first-row, .image_portfolio--second-row
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.image_portfolio--second-row
{
	margin-top: 1%;
}

@font-face {
	font-family: 'fontawesome_webfont';
	src: url('../font/fontawesome-webfont.eot') format('eot')
		 url('../font/fontawesome-webfont.ttf') format('ttf')
		 url('../font/fontawesome-webfont.svg') format('svg')
		 url('../font/fontawesome-webfont.woff') format('woff')
}

@font-face {
	font-family: 'roboto_bold';
	src: url('../font/Roboto-Bold.ttf') format('ttf')
}

body
{
	font-family: 'fontawesome_webfont',sans-serif;
	overflow-x: hidden;
}

.page
{
	display: flex;
	flex-direction: column;
}

#haut_accueil
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
    margin: auto;   
}

.nav
{
    list-style-type: none;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100px;
}

/*li
{
    margin-right: 15px;
    border-top: 2px white solid;
    /*height: 100px;*/
    /*padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 7px;
    padding-right: 7px;
}*/

.aspc
{
	color: black;
	text-decoration: none;
	margin-right: 15px;
    border-top: 2px white solid;
    /*height: 100px;*/
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 7px;
    padding-right: 7px;
}

.aspc:hover
{
	border-top: 2px rgb(92,173,211) solid;
}

/*div
{
	border: 3px black solid;
}*/

.titre_accueil
{
	font-family: 'roboto_bold',sans-serif;
	margin-bottom: 15px;
	line-height: 33px;
	letter-spacing: -2px;
}

#slider
{
	background-image: url('../image/slider/bg1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 550px;
	width: 100%;
	position: relative;
	/*border: solid*/
}

#inter_slide
{
	position: absolute;
	color: white;
	font-weight: bold;
	padding-left: 150px;
	padding-top: 170px;
}

span
{
	color: rgb(92,173,211);
}

#button
{
	background-color: rgb(92,173,211);
	border-radius: 3px;
	border: 1px rgb(92,173,211) solid;
	box-shadow: 0px 3px 0px rgb(68,148,187);
	width: 125px;
	height: 45px;
}

.button
{
	color: white;
	font-size: 1.1em;
	position: absolute;
	padding-left: 13px;
	padding-top: 13px;
	text-decoration: none;
}

.texte_accueil
{
	margin-bottom: 15px;
}

#haut_de_page
{
	text-align: center;
	justify-content: center;
	/*border: 2px black solid;*/
	margin: 40px;
}

.head
{
	margin-bottom: 10px;
}

#bas_de_page
{
	display: flex;
	justify-content: space-around;
}

.liste
{
	display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

#icones
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 20px;
}

#texte
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 550px;
}

#service
{
	font-family: 'roboto_bold',sans-serif;
	margin-top: 10px;
	font-size: 2.5em;
}

#texte h2
{
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 15px;
}
#texte p
{
	line-height: 30px;
}

.image
{
	padding-top: 100px;
}

/*#services
{
	margin-top: 660px;
	color: black;
}*/
/*margin-left 5%*/

.cercle_fin
{
	color: rgb(92,173,211);
	border: 1px gray solid;
	border-radius: 45px;
	padding: 15px;
	font-size: 2em;
}

#haut_de_page_portfolio
{
	text-align: center;
	margin: 40px;
}

#titre_portfolio
{
	font-size: 2.5em;
}

.nav_portfolio
{
    list-style-type: none;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100px;
	margin: 15px;
}

.accp
{
	color: black;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	border: 1px silver solid;
	background-color: silver;
	border-radius: 5px;
	box-shadow: 0px 3px 0px white;
}

.accp:hover
{
	color: white;
	border: 1px rgb(92,173,211) solid;
	background-color: rgb(92,173,211);
	box-shadow: 0px 3px 0px rgb(68,148,187);
}

/*#image_portfolio
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	width: 90%;
}*/

.test
{
	position: relative;
}

.dot 
{
    height: 15px;
    width: 15px;
    background-color: rgb(92,173,211);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: -6px;
}

#icone_custom
{
	font-size: 1.7em;
}